.image {
    background-image: url(https://m2.mbl.is/bG9nMkTuUCoMI4JGj-2haPvpLxw=/1024x576/smart/generic/2020/10/15/bogi.jpg);
    height: 75vh;
    background-repeat: no-repeat;
    position: relative;
}
.fjorirNullFjorir {
    position:absolute;
    left: 25px;
    top: 100px;
    font-size: 40px;
    background-color: rgb(196, 196, 207);
}